@import 'tailwindcss';

@font-face {
  font-family: Iosevka Aile;
  src: url('../lib/assets/fonts/IosevkaAile-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Iosevka Aile;
  src: url('../lib/assets/fonts/IosevkaAile-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Array;
  src: url('../lib/assets/fonts/Array-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@theme {
  --font-sans: Iosevka Aile, sans-serif;
  --font-display: Array, sans-serif;
}

@utility shadow-3d {
  box-shadow: 0 1px 2px --alpha(var(--color-black) / 75%), inset 0 1px 1px --alpha(var(--color-white) / 50%);
}

@utility shadow-3d-inset {
  box-shadow: inset 0 1px 4px --alpha(var(--color-black) / 75%), 2px 2px 4px --alpha(var(--color-stone-700) / 50%);
}

@utility ease-bounce {
  transition-timing-function: cubic-bezier(.32,.3,.1,2);
}

@utility ease-bounce-sm {
  transition-timing-function: cubic-bezier(.32,.3,.1,1.5);
}

@utility ease-gravity {
  transition-timing-function: cubic-bezier(.7,0,.3,1.3);
}

@utility ease-smooth {
  transition-timing-function: linear(0,.005,.019,.039,.066,.096,.129,.165,.202,.24,.278,.316,.354,.39,.426,.461,.494,.526,.557,.586,.614,.64,.665,.689,.711,.731,.751,.769,.786,.802,.817,.831,.844,.856,.867,.877,.887,.896,.904,.912,.919,.925,.931,.937,.942,.947,.951,.955,.959,.962,.965,.968,.971,.973,.976,.978,.98,.981,.983,.984,.986,.987,.988,.989,.99,.991,.992,.992,.993,.994,.994,.995,.995,.996,.996,.9963,.9967,.9969,.9972,.9975,.9977,.9979,.9981,.9982,.9984,.9985,.9987,.9988,.9989,1);
}

@utility bg-ecu-replaced {
  background: linear-gradient(to right, #c0a183, #ddd0b9, #c0a183, #b49473);
}

@utility bg-ecu-broken {
  background:
    url('../lib/assets/images/crack.png'),
    linear-gradient(to right, #816b60, #978d88, #816b60, #886a5e);
  background-size: 64px;
  background-position: center;
}
